<div th:fragment="right-sidebar" class="sidebar" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="card card-item">
        <div class="card-body">
            <h3 class="fs-17 pb-3">Number Achievement</h3>
            <div class="divider"><span></span></div>
            <div class="row no-gutters text-center">
                <div class="col-lg-6 responsive-column-half">
                    <div class="icon-box pt-3">
                        <span class="fs-20 fw-bold text-color">980k</span>
                        <p class="fs-14">Questions</p>
                    </div><!-- end icon-box -->
                </div><!-- end col-lg-6 -->
                <div class="col-lg-6 responsive-column-half">
                    <div class="icon-box pt-3">
                        <span class="fs-20 fw-bold text-color-2">610k</span>
                        <p class="fs-14">Answers</p>
                    </div><!-- end icon-box -->
                </div><!-- end col-lg-6 -->
                <div class="col-lg-6 responsive-column-half">
                    <div class="icon-box pt-3">
                        <span class="fs-20 fw-bold text-color-3">650k</span>
                        <p class="fs-14">Answer accepted</p>
                    </div><!-- end icon-box -->
                </div><!-- end col-lg-6 -->
                <div class="col-lg-6 responsive-column-half">
                    <div class="icon-box pt-3">
                        <span class="fs-20 fw-bold text-color-4">320k</span>
                        <p class="fs-14">Users</p>
                    </div><!-- end icon-box -->
                </div><!-- end col-lg-6 -->
                <div class="col-lg-12 pt-3">
                    <p class="fs-14">To get answer of question <a href="signup.html" class="text-color hover-underline">Join<i class="la la-arrow-right ml-1"></i></a></p>
                </div>
            </div><!-- end row -->
        </div>
    </div><!-- end card -->
    <div class="card card-item">
        <div class="card-body">
            <h3 class="fs-17 pb-3">Related Questions</h3>
            <div class="divider"><span></span></div>
            <div class="sidebar-questions pt-3">
                <div class="media media-card media--card media--card-2">
                    <div class="media-body">
                        <h5><a href="question-details.html">Using web3 to call precompile contract</a></h5>
                        <small class="meta">
                            <span class="pr-1">2 mins ago</span>
                            <span class="pr-1">. by</span>
                            <a href="#" class="author">Sudhir Kumbhare</a>
                        </small>
                    </div>
                </div><!-- end media -->
                <div class="media media-card media--card media--card-2">
                    <div class="media-body">
                        <h5><a href="question-details.html">Is it true while finding Time Complexity of the algorithm [closed]</a></h5>
                        <small class="meta">
                            <span class="pr-1">48 mins ago</span>
                            <span class="pr-1">. by</span>
                            <a href="#" class="author">wimax</a>
                        </small>
                    </div>
                </div><!-- end media -->
                <div class="media media-card media--card media--card-2">
                    <div class="media-body">
                        <h5><a href="question-details.html">image picker and store them into firebase with flutter</a></h5>
                        <small class="meta">
                            <span class="pr-1">1 hour ago</span>
                            <span class="pr-1">. by</span>
                            <a href="#" class="author">Antonin gavrel</a>
                        </small>
                    </div>
                </div><!-- end media -->
            </div><!-- end sidebar-questions -->
        </div>
    </div><!-- end card -->
    <div class="card card-item">
        <div class="card-body">
            <h3 class="fs-17 pb-3">Trending Questions</h3>
            <div class="divider"><span></span></div>
            <div class="sidebar-questions pt-3">
                <div class="media media-card media--card media--card-2">
                    <div class="media-body">
                        <h5><a href="question-details.html">How did chickenpox get its name?</a></h5>
                        <small class="meta">
                            <span class="pr-1">2 mins ago</span>
                            <span class="pr-1">. by</span>
                            <a href="#" class="author">Sudhir Kumbhare</a>
                        </small>
                    </div>
                </div><!-- end media -->
                <div class="media media-card media--card media--card-2">
                    <div class="media-body">
                        <h5><a href="question-details.html">How can you cut an onion without crying?</a></h5>
                        <small class="meta">
                            <span class="pr-1">48 mins ago</span>
                            <span class="pr-1">. by</span>
                            <a href="#" class="author">wimax</a>
                        </small>
                    </div>
                </div><!-- end media -->
                <div class="media media-card media--card media--card-2">
                    <div class="media-body">
                        <h5><a href="question-details.html">Does flu vaccine protect against Coronavirus?</a></h5>
                        <small class="meta">
                            <span class="pr-1">1 hour ago</span>
                            <span class="pr-1">. by</span>
                            <a href="#" class="author">Antonin gavrel</a>
                        </small>
                    </div>
                </div><!-- end media -->
            </div><!-- end sidebar-questions -->
        </div>
    </div><!-- end card -->
    <div class="card card-item">
        <div class="card-body">
            <h3 class="fs-17 pb-3">Trending Tags</h3>
            <div class="divider"><span></span></div>
            <div class="tags pt-4">
                <div class="tag-item">
                    <a href="#" class="tag-link tag-link-md">analytics</a>
                    <span class="item-multiplier fs-13">
                                    <span>×</span>
                                    <span>32924</span>
                                </span>
                </div><!-- end tag-item -->
                <div class="tag-item">
                    <a href="#" class="tag-link tag-link-md">computer</a>
                    <span class="item-multiplier fs-13">
                                    <span>×</span>
                                    <span>32924</span>
                                </span>
                </div><!-- end tag-item -->
                <div class="tag-item">
                    <a href="#" class="tag-link tag-link-md">python</a>
                    <span class="item-multiplier fs-13">
                                    <span>×</span>
                                    <span>32924</span>
                                </span>
                </div><!-- end tag-item -->
                <div class="tag-item">
                    <a href="#" class="tag-link tag-link-md">javascript</a>
                    <span class="item-multiplier fs-13">
                                    <span>×</span>
                                    <span>32924</span>
                                </span>
                </div><!-- end tag-item -->
                <div class="tag-item">
                    <a href="#" class="tag-link tag-link-md">c#</a>
                    <span class="item-multiplier fs-13">
                                    <span>×</span>
                                    <span>32924</span>
                                </span>
                </div><!-- end tag-item -->
                <div class="collapse" id="showMoreTags">
                    <div class="tag-item">
                        <a href="#" class="tag-link tag-link-md">java</a>
                        <span class="item-multiplier fs-13">
                                    <span>×</span>
                                    <span>32924</span>
                                </span>
                    </div><!-- end tag-item -->
                    <div class="tag-item">
                        <a href="#" class="tag-link tag-link-md">swift</a>
                        <span class="item-multiplier fs-13">
                                    <span>×</span>
                                    <span>32924</span>
                                </span>
                    </div><!-- end tag-item -->
                    <div class="tag-item">
                        <a href="#" class="tag-link tag-link-md">html</a>
                        <span class="item-multiplier fs-13">
                                    <span>×</span>
                                    <span>32924</span>
                                </span>
                    </div><!-- end tag-item -->
                    <div class="tag-item">
                        <a href="#" class="tag-link tag-link-md">angular</a>
                        <span class="item-multiplier fs-13">
                                    <span>×</span>
                                    <span>32924</span>
                                </span>
                    </div><!-- end tag-item -->
                    <div class="tag-item">
                        <a href="#" class="tag-link tag-link-md">flutter</a>
                        <span class="item-multiplier fs-13">
                                    <span>×</span>
                                    <span>32924</span>
                                </span>
                    </div><!-- end tag-item -->
                    <div class="tag-item">
                        <a href="#" class="tag-link tag-link-md">machine-language</a>
                        <span class="item-multiplier fs-13">
                                    <span>×</span>
                                    <span>32924</span>
                                </span>
                    </div><!-- end tag-item -->
                </div><!-- end collapse -->
                <a class="collapse-btn fs-13" data-toggle="collapse" href="#showMoreTags" role="button" aria-expanded="false" aria-controls="showMoreTags">
                    <span class="collapse-btn-hide">Show more<i class="la la-angle-down ml-1 fs-11"></i></span>
                    <span class="collapse-btn-show">Show less<i class="la la-angle-up ml-1 fs-11"></i></span>
                </a>
            </div>
        </div>
    </div><!-- end card -->
    <div class="ad-card">
        <h4 class="text-gray text-uppercase fs-13 pb-3 text-center">Advertisements</h4>
        <div class="ad-banner mb-4 mx-auto">
            <span class="ad-text">290x500</span>
        </div>
    </div><!-- end ad-card -->
</div>